/* stylelint-disable */

@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}

@mixin big-desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}

@mixin mbAll($desk, $tablet, $mobile) {

  margin-bottom: #{$desk}px;

  @include tablet {
    margin-bottom: #{$tablet}px;
  }

  @include mobile {
    margin-bottom: #{$mobile}px;
  }
}
