<section class="agreement">

  <div class="agreement__cont-title">
    <div class="container-text caption__container">

      <h1 class="caption__h1">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>

    </div>
  </div>
  <div class="agreement__cont-text">
    <div class="container-text rubric__item mb-20">
      <h3 class="rubric__h3-small">1. Общие условия пользовательского соглашения</h3>
      <p class="rubric__p-small">1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон
        применяются следующие термины и определения:

        а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;

        б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.

        в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене http:// источник и его поддоменах.

        г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.

        д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
    </div>
    <div class="container-text rubric__item mb-20">
      <h3 class="rubric__h3-small">1. Общие условия пользовательского соглашения</h3>
      <p class="rubric__p-small">1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон
        применяются следующие термины и определения:

        а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;

        б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.

        в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене http:// источник и его поддоменах.

        г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.

        д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
    </div>
    <div class="container-text rubric__item mb-20">
      <h3 class="rubric__h3-small">1. Общие условия пользовательского соглашения</h3>
      <p class="rubric__p-small">1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон
        применяются следующие термины и определения:

        а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;

        б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.

        в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене http:// источник и его поддоменах.

        г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.

        д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
    </div>
    <div class="container-text rubric__item mb-20">
      <h3 class="rubric__h3-small">1. Общие условия пользовательского соглашения</h3>
      <p class="rubric__p-small">1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон
        применяются следующие термины и определения:

        а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;

        б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.

        в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене http:// источник и его поддоменах.

        г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.

        д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
    </div>
    <div class="container-text rubric__item mb-20">
      <h3 class="rubric__h3-small">1. Общие условия пользовательского соглашения</h3>
      <p class="rubric__p-small">1.1. В настоящем документе и вытекающих или связанным с ним отношениях Сторон
        применяются следующие термины и определения:

        а) Платформа — программно-аппаратные средства, интегрированные с Сайтом Администрации;

        б) Пользователь — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.

        в) Сайт Администрации/ Сайт — интернет-сайты, размещенные в домене http:// источник и его поддоменах.

        г) Сервис — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.

        д) Соглашение — настоящее соглашение со всеми дополнениями и изменениями.</p>
    </div>
  </div>
</section>
