<section class="authors">
  <div class="authors__container">
    <div class="container">
      <div class="authors__cont-title">
        <h1 class="authors__title">Авторы</h1>
      </div>
      <div class="authors__content">
        <nav class="nav" title="">
          <ul class="list-reset nav__list authors__list-grid">
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>
            <li class="nav__item authors__item">
              <a href="#" class="nav__link authors__link">
                <div class="authors__cont-img">
                  <picture>

                    <img loading="lazy" src="./img/block-282x282.jpg" class="image authors__image" width="180" height="180" alt="">
                  </picture>
                </div>
                <div class="authors__cont-text">
                  <div class="authors__subtitle">Александра Александровна</div>
                  <div class="authors__span">Кандидат культурологии</div>
                </div>
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
