<section class="baza">
  <div class="baza__background" style="background-image: url(././img/block-1920-5.jpg); ">

    <div class="container  baza__container--fluid">
      <div class="baza__container">
        <div class="baza__cont">
          <h5 class="caption__h5 baza__h5">CEO</h5>
          <h1 class="caption__h1 baza__h1">Как сделать email-рассылку</h1>
          <h4 class="caption__h4 baza__h4">???</h4>
          <div class="interview__cont-words baza__cont-words">
            <div class="interview__cont-data baza__cont-data">
              <span class="interview__data">11 августа 2022</span>
            </div>
            <div class="caption__cont baza__cont-author">
              <span class="caption__span-title baza__span-title">Текст</span>
              <span class="caption__span baza__span">Дианы Куликовой</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-text interview__item baza__cont-text">
    <p class="rubric__p bazap__p">
      Рассылки на почту клиентам — эффективный инструмент для повышения узнаваемости бренда. Однако при наличии ошибок
      электронное письмо может не просто отправиться в папку «Спам», но и сыграть злую шутку, понизив имидж компании в
      глазах получателя. Сегодня мы поговорим, как сделать рассылку на почту полезной для бизнесам и интересной
      читателю.
    </p>
  </div>
</section>
<section class="Bword">

  <div class="container-text">
    <div class="rubric__item mb-52">
      <h3 class="rubric__h3-small">Как email-рассылка помогает бизнесу</h3>
      <p class="rubric__p-small">Существует мнение, что электронные письма — лишь вспомогательный, второстепенный
        инструмент в стратегии маркетинга. Но это не так. Грамотная email-рассылка клиентам способна превратить их из
        читателей в покупателей, стимулировать к повторной транзакции, наладить обратную связь, автоматизировать задачи
        бизнеса, увеличить трафик и повысить доверие к бренду.</p>
    </div>
    <div class="rubric__item">
      <h3 class="rubric__h3-small">Как собрать базу адресов и вызвать гнев получателей</h3>
      <p class="rubric__p-small">Погубить идею создания эффективного имейла можно уже на начальном этапе — купив базу
        адресов. Всеё, что может дать этот способ, — высокий процент отписок и ошибок из-за отправки писем
        несуществующим получателям, жалобы на спам и попадание в спам-ловушки, бан домена.</p>
    </div>

    <div class="Bword__cont-image">
      <picture>
        <img loading="lazy" src="./img/block-690.jpg" class="image" width="690" height="1065" alt="Длинная картинка">
      </picture>
    </div>
    <div class="rubric__item mb-20">
      <h3 class="rubric__h3-small">Какие бывают email-рассылки</h3>
      <p class="rubric__p-small">Электронная рассылка может быть ручной или триггерной. Ручную будет получать вся база
        адресов, независимо от активности. Такие письма рассказывают о текущих кампаниях, акциях, новостях и событиях,
        содержат обзоры, вовлекающий, полезный, а иногда и развлекательный контент. Триггерные — отправляются читателям,
        которые совершили (или не совершили) определеённое действие. Этот вид имейлов в перспективе даст возможность
        сегментировать пользователей и отправлять персонализированные письма.</p>
    </div>

  </div>
  <div class="Bword__container-list mb-20">

  </div>
  <div class=" container-text">
    <p class="rubric__p-small mb-60">
      Для большей эффективности рекомендуем настроить все эти виды рассылок.
    </p>
  </div>

  <div class="container-text">
    <div class="Bword__cont-content">
      <div class="Bword__picture mb-20">
        <picture>

          <img loading="lazy" src="./img/block-690-2.jpg" class="image Bword__image-picture" width="690" height="1620"
               alt="Длинная картинка">
        </picture>
      </div>
      <div class="Bword__picture-text">Заголовок — то, что видит читатель в первую очередь. Его должно быть видно
        полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение
        выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой.
        Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“».

      </div>
    </div>
    <div class="Bword__picture-span mb-60">Пример имейл-рассылки от сети магазинов «ВкусВилл»</div>
    <div class="rubric__item mb-20">
      <h3 class="rubric__h3-small">Составляем контент-план</h3>
      <p class="rubric__p-small">Даже самое увлекательное письмо не заинтересует читателя, если вы «пришли не по
        адресу». Проанализируйте аудиторию и подумайте, что может быть для нееё полезно — именно польза текста
        определяет процент открытий и дочитываний. Пол, возраст, география, интересы, боли и потребности создадут
        клиентский портрет. Используйте его, чтобы понять, какие рассылки помогут добиться вашей цели. Саму цель тоже
        важно сформулировать на начальном этапе. Представьте своего клиента — какой оффер он хочет получить? Для кого-то
        это будет финансовая выгода (скидки, промокоды), для других — эксклюзивные материалы, экспертные мнения по
        интересующему вопросу.</p>
    </div>
  </div>
  <div class="Bword__container-list mb-20">
    <div class="Bword__list--content">
      <div class="Bword__list-subtitle mb-20">
        Три вида писем клиенту:
      </div>

      <div class="Bword__list-fix">
        <ul class="">
          <li class="">

            Даже самое увлекательное письмо не заинтересует читателя, если вы «пришли не по адресу». Проанализируйте аудиторию и подумайте, что может быть для нееё полезно — именно польза текста определяет процент открытий и дочитываний. Пол, возраст, геог

          </li>
          <li class="">
            Даже самое увлекательное письмо не заинтересует читателя, если вы «пришли не по адресу». Проанализируйте аудиторию и подумайте, что может быть для нееё полезно — именно польза текста определяет процент открытий и дочитываний. Пол, возраст, геог

          </li>
          <li class="">

            Даже самое увлекательное письмо не заинтересует читателя, если вы «пришли не по адресу». Проанализируйте аудиторию и подумайте, что может быть для нееё полезно — именно польза текста определяет процент открытий и дочитываний. Пол, возраст, геог

          </li>

        </ul>
        <ol>
          <li>
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятых вопрос маленький страна дороге толку послушавшись вопроса правилами повстречался!
          </li>
        </ol>
      </div>

    </div>
  </div>
  <div class=" container-text">

    <p class="rubric__p-small mb-60">
      Посмотреть примеры рассылок для клиентов у ваших конкурентов тоже будет полезно. Но избегайте копирования — даже
      если чужая идея окажется актуальна и для вас, лучше облечь ееё в уникальную форму.
    </p>
  </div>
  <div class="container-text">
    <div class="Bword__cont-content">
      <div class="Bword__picture mb-20">
        <picture>

          <img loading="lazy" src="./img/block-690-4.jpg" class="image Bword__image-picture" width="690" height="2005"
               alt="Длинная картинка">
        </picture>
      </div>
      <div class="Bword__picture-text">Заголовок — то, что видит читатель в первую очередь. Его должно быть видно
        полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение
        выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой.
        Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“».

      </div>
    </div>
    <div class="Bword__picture-span mb-60">Ообразец письма клиентам от магазина украшений Poison Drop Ообразец письма
      клиентам от магазина украшений Poison Dro</div>
    <div class="rubric__item mb-20">
      <h3 class="rubric__h3-small">Как написать письмо, которое будут читать</h3>
      <p class="rubric__p-small">Три правила хорошей рассылки: актуальность, уникальность, польза. Если какой-то из
        блоков письма не выполняет эти требования, его лучше убрать или «„докрутить“» до соответствия. Хотите, чтобы
        читатель доскроллил ваш mail? Вряд ли он это сделает, если предложить ему зимой подборку мороженого. А вот
        рецепты горячих напитков подойдут идеально. </p>
    </div>
    <div class="rubric__item mb-32-1">
      <p class="rubric__p-small">Составляя текст для рассылки, помним, что при создании хорошего электронного письма
        важен каждый элемент:</p>
    </div>
    <div class="Bword__cont-list-cont--content">
      <div class="Bword__cont-list-cont-fix">
        <ul class="">
          <li class="">
            <strong>dfsflsd</strong> — то, что видит читатель в первую очередь. Его должно быть видно
            полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает
            предложение
            выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя
            темой.
            Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“».
            Используйте цифры («„3 способа“», «„топ-5“»), проводите интересные параллели, задавайте и отвечайте на
            вопросы, открывайте секреты и помогайте решать проблемы — это тоже эффективные приеёмы для цепляющего
            заголовка. — то, что видит читатель в первую очередь. Его должно быть видно полностью (соблюдайте размер
            до
            30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение выгоды: — «„Скидки до 50%
            на
            лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой. Структура заголовка в этом
            случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“». Используйте цифры («„3
            способа“»,
            «„топ-5“»), проводите интересные параллели, задавайте и отвечайте на вопросы, открывайте секреты и
            помогайте
            решать проблемы — это тоже эффективные приеёмы для цепляющего заголовка.

          </li>
          <li class="">

            <strong >Заголовок</strong> — то, что видит читатель в первую очередь. Его
            должно
            быть видно полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя
            привлекает
            предложение выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте
            читателя темой. Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости
            спортсменам“». Используйте цифры («„3 способа“», «„топ-5“»), проводите интересные параллели, задавайте и
            отвечайте на вопросы, открывайте секреты и помогайте решать проблемы — это тоже эффективные приеёмы для
            цепляющего заголовка. — то, что видит читатель в первую очередь. Его должно быть видно полностью
            (соблюдайте
            размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение выгоды: — «„Скидки
            до
            50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой. Структура заголовка в
            этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“». Используйте цифры («„3
            способа“», «„топ-5“»), проводите интересные параллели, задавайте и отвечайте на вопросы, открывайте
            секреты
            и помогайте решать проблемы — это тоже эффективные приеёмы для цепляющего заголовка.

          </li>
        </ul>
        <ol>
          <li> Заголовок — то, что видит читатель в первую очередь. Его должно быть видно полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой. Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“». Используйте цифры («„3 способа“», «„топ-5“»), проводите интересные параллели, задавайте и отвечайте на вопросы, открывайте секреты и помогайте решать проблемы — это тоже эффективные приеёмы для цепляющего заголовка. — то, что видит читатель в первую очередь. Его должно быть видно полностью</li>

        </ol>
      </div>
    </div>
    <div class="Bword__picture mb-60 mt-60">
      <picture>

        <img loading="lazy" src="./img/block-690-6.jpg" class="image Bword__image-picture" width="690" height="735"
             alt="Длинная картинка">
      </picture>
    </div>
    <div class="rubric__item mb-20">
      <p class="rubric__p-small">Классная картинка — почти половина успеха. Если контент не слишком цепляющий, хороший
        дизайн может спасти вас от отписок. Должны ли все имейлы быть похожими? Не обязательно. Разнообразие тоже может
        стать вашей фирменной чертой.</p>
    </div>
    <div class="rubric__item mb-20">
      <p class="rubric__p-small">Делая веёрстку, убедитесь, что ееё ширина — не более 600 пикселей, чтобы весь контент
        был виден на экране любого устройства. Уменьшайте вес картинок и берите безопасные шрифты. Не используйте
        редирект и не сокращайте ссылки, чтобы письмо не попало в спам.</p>
    </div>
    <div class="Bword__cont-content">
      <div class="Bword__picture mb-20">
        <picture>

          <img loading="lazy" src="./img/block-690x3261.jpg" class="image Bword__image-picture" width="690"
               height="3261" alt="Длинная картинка">
        </picture>
      </div>
      <div class="Bword__picture-text">Заголовок — то, что видит читатель в первую очередь. Его должно быть видно
        полностью (соблюдайте размер до 30 знаков) и он должен «„цеплять“». Любого получателя привлекает предложение
        выгоды: — «„Скидки до 50% на лучшие книги лета“». Если в тексте нет оффера, заинтересуйте читателя темой.
        Структура заголовка в этом случае может быть «„как-кому“». Пример: «„Как есть сладости спортсменам“».

      </div>
    </div>
    <div class="Bword__picture-span mb-60">Ообразец письма клиентам от винного проекта Invisible</div>
    <div class="rubric__item mb-20">
      <h3 class="rubric__h3-small">Какие ошибки губят рассылку</h3>
      <p class="rubric__p-small">Свести на нет усилия по созданию рассылки могут такие ошибки:</p>
    </div>
    <div class="Bword__cont-list Bword__cont-list-cont mb-20">
      <span class="Bword__circle">
      </span>
      <div class="Bword__list-text Bword__list-text-cont">
        <strong class="Bword__list-strong"></strong> тема в заголовке не соответствует содержанию — это обман клиента;
      </div>
    </div>
    <div class="Bword__cont-list Bword__cont-list-cont mb-20">
      <span class="Bword__circle">
      </span>
      <div class="Bword__list-text Bword__list-text-cont">
        <strong class="Bword__list-strong"></strong> Отсутствие прехедера, написанного самостоятельно;.
      </div>
    </div>
    <div class="Bword__cont-list Bword__cont-list-cont mb-20">
      <span class="Bword__circle">
      </span>
      <div class="Bword__list-text Bword__list-text-cont">
        <strong class="Bword__list-strong"></strong> Текст обезличен, нет ощущения «живого диалога»;.
      </div>
    </div>
    <div class="Bword__cont-list Bword__cont-list-cont mb-20">
      <span class="Bword__circle">
      </span>
      <div class="Bword__list-text Bword__list-text-cont">
        <strong class="Bword__list-strong"></strong> нНет пользы для читателя;.
      </div>
    </div>
    <div class="Bword__cont-list Bword__cont-list-cont mb-52">
      <span class="Bword__circle">
      </span>
      <div class="Bword__list-text Bword__list-text-cont">
        <strong class="Bword__list-strong"></strong> нНет кнопки «„Отписка“».;
      </div>
    </div>
    <div class="rubric__item mb-20">
      <h3 class="rubric__h3-small">Как написать письмо, которое будут читать</h3>
      <p class="rubric__p-small">В папку «„Спам“» можно попасть автоматически либо по инициативе получателя. Избежать
        первой неприятности помогают сервисы, такие как UniSender, SendPuise, GetResponse и другие. С обычного почтового
        ящика массовая рассылка невозможна — ваше красивое и полезное письмо попросту не дойдеёт адресату. А с помощью
        сервиса вы получите возможность сделать отправку на всю загруженную базу и провести аналитику: узнать процент
        открытий, отписок, переходов и транзакций, легко отключить рассылки.</p>

    </div>
    <div class="rubric__item mb-52">
      <p class="rubric__p-small">В папку «„Спам“» можно попасть автоматически либо по инициативе получателя. Избежать
        первой неприятности помогают сервисы, такие как UniSender, SendPuise, GetResponse и другие. С обычного почтового
        ящика массовая рассылка невозможна — ваше красивое и полезное письмо попросту не дойдеёт адресату. А с помощью
        сервиса вы получите возможность сделать отправку на всю загруженную базу и провести аналитику: узнать процент
        открытий, отписок, переходов и транзакций, легко отключить рассылки.</p>

    </div>

  </div>

</section>
