<section class="theme">
  <div class="container-text">
    <div class="word__author">
      <div class="word__picture">
        <div class="word__picture-cont">
          <p class="word__p-strong">Иллюстрации:</p>
          <p class="word__p">Кьяря Фумаи. This last line cannot be translated.
            Фото: Oto Gillen © The Church of Chiara Fumai</p>
        </div>
      </div>
      <div class="word__theme mb-20">
        <div class="word__theme-cont">
          <div class="word__item--strong">
            <p class="word__p-strong-two">Темы:</p>
          </div>
          <div class="word__cont">
            <div class="word__item"><a href="#" class="word__link">Бизнес,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Макдональдс,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Люди,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Управление,</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theme__box">
      <div class="subs__title Iword__subs-title theme__box-title">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      </div>
      <div class="subs__cont Iword__subs-cont theme__cont">
        <input type="email" class="subs__input Iword__subs-input theme__input">
        <div class="popup__block popup__block-theme">
          <div class="popup__cont-title popup__cont-title-theme"><span class="popup__title">Спасибо, будем держать вас в курсе!</span></div>
        </div>
        <button class="btn btn__mail btn__Iword">подписаться</button>
      </div>
      <div class="subs__text Iword__subs-text theme__text">By signing up, you agree to the Terms of Use and Privacy Policy & to
        receive electronic
        communications from Vice Media Group, which may include marketing promotions, advertisements and sponsored
        content.</div>
    </div>
  </div>
</section>
