<section class="choice">
  <div class="container">
    <div class="choice__cont">
      <h1 class="choice__title">
        Выбор редакции
      </h1>
    </div>
    <ul class="list-reset  choice__cont-grid">
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
      <li class="article__box choice__show ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__subtitle">Рубрика</a>
        <a href="" class="article__title article__link-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</a>
      </li>
    </ul>
    <div class="choice__cont-btn">
      <button class="btn btn__choice"><span class="show-more-span">загрузить еще</span> <div class="loading"></div></button>
    </div>
  </div>
</section>
