<section class="caption">
  <div class="container caption__container">

    <h5 class="caption__h5">Дневники</h5>
    <h1 class="caption__h1">Для кого мы тут пишем? Или главный вопрос об аудитории</h1>
    <h4 class="caption__h4">???</h4>
    <div class="caption__cont">
      <span class="caption__span-title">Текст</span>
      <span class="caption__span"> Романа</span>
    </div>

  </div>
  <div class="container-fluid caption__image">
    <picture>
      <img loading="lazy" src="./img/block-996.jpg" class="image" width="996" height="561" alt="Большая картинка">
    </picture>
  </div>
</section>
<section class="rubric">
  <div class="container-text rubric__item">
    <p class="rubric__p">
      Один самых популярных вопросов писателям звучит примерно так: вы пишете для себя или для читателей? У
      журналиста, копирайтера и маркетолога ситуация еще сложнее: вы можете писать для себя, читателя или заказчика.
      Дальше можно поставить ссылку на любую книгу о маркетинге, где нас учат искать идеальный баланс между всеми
      сторонами, но мы прекрасно знаем, что: на практике почти всегда побеждает заказчик. В моем же мире приоритет у
      читателя: он будет возвращаться за интересным контентом, он принесет деньги заказчику, он позволит нам сделать
      следующий материал.
    </p>
  </div>
  <div class="container">
    <div class="rubric__block-container">
      <div class="rubric__block">
        <a href="" class="rubric__link">
          <div class="block__title">вас может заинтересовать</div>
        </a>
        <a href="" class="rubric__link"><img src="./img//block-576-2.jpg" alt="маленькая картинка" class="image"></a>
        <a href="" class="rubric__link"><h5 class="block__h5">рубрика</h5></a>
        <a href="" class="rubric__link-hover"><h3 class="block__h3">Маховик клиентского опыта</h3></a>
      </div>
      <div class="container-text-fluid rubric__item-block">
        <div class="rubric__cont">
          <h3 class="rubric__h3-small">Чем я могу помочь, или Почему соцдем устарел</h3>
          <div class="rubric__cont-image">
            <div class="rubric__cont-p">
              <p class="rubric__p-small">В одной из своих публикаций консультантка в сфере маркетинга и писательница
                Линор <a href="">Привет</a> <strong>dsfsdfdsf</strong>
                Горалик высказала важную мысль: продукт должен помогать покупателю выполнять его социальную роль.
                Подгузники
                позволяют нам справиться с ролью хорошего родителя, кредитная карта с продолжительным грейс-периодом
                поддержит
                образ жизни свободного человека, а с подпиской на DOXA приятнее осознавать себя борцом с режимом. Это
                значит,
                что подход к анализу целевой аудитории через соцдем стал неэффективен. Нам не так важно, в какую
                возрастную
                категорию попадает человек, нам безразличен его пол. Мы должны понять, чем мы можем быть ему полезны.
                Если
                мы
                облегчаем покупателю жизнь, мы становимся ее частью. А там и до запуска маховика контента недалеко.
                (ссылка
                на
                карточки по маховику)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-text rubric__item">
    <h3 class="rubric__h3-small">Психолог в помощь, или Как оправдать ожидания всех</h3>
    <p class="rubric__p-small">Конечно, выше я описал идеальную историю осознанного креатора. Обычно времени на
      детальный анализ аудитории нет, главред горит своей идеей, а клиент норовит показать каждый вариант креатива
      членам семьи. Главное в этой суматохе не забыть об адресате вашего текста. Для этого мы можем использовать
      методику, которую я позаимствовал на курсе педагогики: по схожей таблице тьюторы и психологи стараются
      выделить точки соприкосновения учеников и их родителей и сформировать запрос к себе как к специалисту.</p>
  </div>
</section>
<section class="what">

  <div class="what__table--container">
    <div class="what__table--content">

      <table cellspacing="0" class="what__table">
        <thead>
        <tr>
          <th></th>
          <th>Клиент</th>
          <th>Аудитория</th>
          <th>Агенства</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Чего я хочу?
          </th>
          <td>Чтобы клиенты покупали кофе только в моей кофейне, я хочу быть незаменимым.
          </td>
          <td>Быть продуктивнее, бодрее. Кофе = работа.
          </td>
          <td>Сделать кейс, который попадет в портфолио.
          </td>
        </tr>
        <tr>
          <th>Чего я хочу?
          </th>
          <td>Чтобы клиенты покупали кофе только в моей кофейне, я хочу быть незаменимым.
          </td>
          <td>Быть продуктивнее, бодрее. Кофе = работа.
          </td>
          <td>Сделать кейс, который попадет в портфолио.
          </td>
        </tr>

        </tbody>

      </table>

    </div>
  </div>
  <div class="swiper swaper__what">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="what__slider">
          <div class="what__slider-container">
            <div class="what__slider-block">
              <div class="what__slider-title-cont">
                <div class="what__slider-title-mute"></div>
                <div class="what__slider-title">Чего я хочу?</div>
              </div>
              <div class="what__slider-content">
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Клиент</div>
                  <div class="what__slider-text">Чтобы клиенты покупали кофе только в моей кофейне, я хочу быть
                    незаменимым.
                  </div>

                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Аудитория</div>
                  <div class="what__slider-text">Быть продуктивнее, бодрее. Кофе = работа.</div>
                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Агенства</div>
                  <div class="what__slider-text">Сделать кейс, который попадет в портфолио.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="what__slider">
          <div class="what__slider-container">
            <div class="what__slider-block">
              <div class="what__slider-title-cont">
                <div class="what__slider-title-mute"></div>
                <div class="what__slider-title">Что я могу?</div>
              </div>
              <div class="what__slider-content">
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Клиент</div>
                  <div class="what__slider-text">Давать хороший кофе и платить агентству за создание комьюнити.
                  </div>

                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Аудитория</div>
                  <div class="what__slider-text">Пить кофе, листать соцсети.</div>
                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Агенства</div>
                  <div class="what__slider-text">Делать любой интересный контент.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="what__slider">
          <div class="what__slider-container">
            <div class="what__slider-block">
              <div class="what__slider-title-cont">
                <div class="what__slider-title-mute"></div>
                <div class="what__slider-title">Что я должен?</div>
              </div>
              <div class="what__slider-content">
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Клиент</div>
                  <div class="what__slider-text">Не обманывать и быть прибыльным.
                  </div>

                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Аудитория</div>
                  <div class="what__slider-text">Делать свою жизнь выносимой.</div>
                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Агенства</div>
                  <div class="what__slider-text">Быть интересным для аудитории и эффективным для клиента.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="what__slider">
          <div class="what__slider-container">
            <div class="what__slider-block">
              <div class="what__slider-title-cont">
                <div class="what__slider-title-mute"></div>
                <div class="what__slider-title">Что ты должен?</div>
              </div>
              <div class="what__slider-content">
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Клиент</div>
                  <div class="what__slider-text">Создать фан-базу кофейни, которая будет пить кофе только у нас.
                    А фанаты должны приводить новых людей.
                  </div>

                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Аудитория</div>
                  <div class="what__slider-text">Давать мне вкусный кофе и рабочий настрой внутри кофейни. И не
                    раздражать меня в соцсетях.
                  </div>
                </div>
                <div class="what__slider-box">
                  <div class="what__slider-subtitle">Агенства</div>
                  <div class="what__slider-text">Доверять мне. Делиться контентом и реагировать на него.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<section class="word">
  <div class="container-text rubric__item">
    <p class="rubric__p-small mb-20">
      Если мы честно заполним эту таблицу, то быстро обнаружим противоречия и пересечения. Противоречия — это слабые
      места в конструкции. Клиент может хотеть от аудитории то, что она не готова давать, например, заходить в вашу
      кофейню трижды в день. А может, его желания и возможности агентства не совпадают. Пересечения — это точки, в
      которых сходятся интересы всех участников.
    </p>
    <p class="rubric__p-small mb-20">
      Важно помнить, что пожелания в четвертой строке могут относиться ко всем участникам процесса. Так, у аудитории
      есть ожидания и от производителя товаров и услуг, и от создателей контента.
    </p>
    <h3 class="rubric__h3-small mt-32 mb-20">Все любят кейсы, или Как мы искали аудиторию проекта «За руку» </h3>
    <p class="rubric__p-small mb-20">
      Для наглядности приведу пример из своей практики. Проект «За руку» существует пару лет, и за это время мы успели
      создать большой объем контента, оценить эффект от него и сформировать новый подход к развитию медиа.
    </p>
    <p class="rubric__p-small mb-20">
      Мы изначально понимали, кто наша аудитория. Мы работали для людей с онкологическими диагнозами и их близких.
      Но о
      чем говорить с ними в первую очередь? Мы сделали ставку на базу знаний: попав в сложную ситуацию, человек хочет
      понимать, что с ним происходит сейчас и что будет дальше. Поэтому наш портал наполнился текстами о типах
      онкологии, но эта тема быстро себя исчерпала.
    </p>
    <p class="rubric__p-small mb-20">
      Тогда мы сместили угол зрения. Сегодня наш читатель понимает, как он заболел и каков его путь к выздоровлению.
      Но
      как этот путь проходить? В своей автобиографии «Я просто хочу жить» Дарья Донцова отметила слова своего
      онколога,
      смысл которых поняла далеко не сразу: «Качество вашей жизни изменится». Заболевший человек обнаруживает, что ему
      понадобится парик, что у него изменился список рекомендованных продуктов, он не сможет поднимать ребенка
      на руки,
      а его близким придется приспособиться к новым условиям жизни. Наша новая цель — помочь онкопациентам и их семьям
      максимально сохранить прежнее качество жизни.
    </p>
    <p class="rubric__p-small mb-20">
      Тогда мы сместили угол зрения. Сегодня наш читатель понимает, как он заболел и каков его путь к выздоровлению.
      Но
      как этот путь проходить? В своей автобиографии «Я просто хочу жить» Дарья Донцова отметила слова своего
      онколога,
      смысл которых поняла далеко не сразу: «Качество вашей жизни изменится». Заболевший человек обнаруживает, что ему
      понадобится парик, что у него изменился список рекомендованных продуктов, он не сможет поднимать ребенка
      на руки,
      а его близким придется приспособиться к новым условиям жизни. Наша новая цель — помочь онкопациентам и их семьям
      максимально сохранить прежнее качество жизни.
    </p>
    <div class="word__author">
      <div class="word__picture">
        <div class="word__picture-cont">
          <p class="word__p-strong">Иллюстрации</p>
          <p class="word__p">Кьяря Фумаи. This last line cannot be translated.
            Фото: Oto Gillen © The Church of Chiara Fumai</p>
        </div>
      </div>
      <div class="word__theme mb-20">
        <div class="word__theme-cont">
          <div class="word__item--strong">
            <p class="word__p-strong-two">Темы</p>
          </div>
          <div class="word__cont">
            <div class="word__item"><a href="#" class="word__link">Бизнес,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Макдональдс,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Люди,</a>
            </div>
            <div class="word__item"><a href="#" class="word__link">Управление,</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="info">
    <div class="info__container">
      <span class="info__title mb-20">Duis aute irure dolor in reprehenderit</span>
      <span class="info__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
      <div class="popup__block popup__block-theme info__popup-block">
        <div class="popup__cont-title popup__cont-title-theme info__popup">
          <span class="popup__title">Спасибо, будем
            держать вас в курсе!
          </span>
        </div>
      </div>

      <span class="info__subtitle">Имя</span>
      <input class="info__input" type="text">
      <span class="info__subtitle">e-mail</span>
      <input class="info__input info__input-email" type="email">
      <span class="info__subtitle">о себе</span>
      <textarea class="info__input info__input-big" type="text"> </textarea>
      <div class="info__cont">
        <button class="btn btn__word">Подписаться</button>
      </div>

    </div>
  </div>

</section>
