<div class="Mfooter">
  <div class="Mfooter__container">
    <div class="container">
      <div class="Mfooter__cont-content">
        <div class="Mfooter__cont-box">
          <div class="Mfooter__cont-img">
            <!-- <a href="" class="Mfooter__img-link"><img loading="lazy" src="./img/svg/logo-footer-new.svg" class="image" width="120" height="120"
              alt="Логотип"></a> -->
            <a href="">
              <svg class="" width="120" height="120" viewBox="0 0 120 120">
                <use xlink:href="img/sprite.svg#logofooter"></use>
              </svg>
            </a>
          </div>
          <div class="social__mobile">
            <nav class="nav" title="">
              <ul class="list-reset social__list" title="">
                <li class="social__item">
                  <a
                    href="#"
                    target="_blank"
                    class="social__link social__link--fb"
                    aria-label="Наша страничка в Фейсбуке"
                    ><img
                      loading="lazy"
                      src="./img/svg/vk.svg"
                      class="image"
                      width="24"
                      height="24"
                      alt=""
                  /></a>
                </li>
                <li class="social__item">
                  <a
                    href="#"
                    target="_blank"
                    class="social__link social__link--vk"
                    aria-label="Наша страничка во Вконтакте"
                    ><img
                      loading="lazy"
                      src="./img/svg/telegram.svg"
                      class="image"
                      width="24"
                      height="24"
                      alt=""
                  /></a>
                </li>
                <li class="social__item">
                  <a
                    href="#"
                    target="_blank"
                    class="social__link social__link--tw"
                    aria-label="Наша страничка в Твиттере"
                    ><img
                      loading="lazy"
                      src="./img/svg/youtube.svg"
                      class="image"
                      width="24"
                      height="24"
                      alt=""
                  /></a>
                </li>
                <li class="social__item">
                  <a
                    href="#"
                    target="_blank"
                    class="social__link social__link--tw"
                    aria-label="Наша страничка в Твиттере"
                    ><img
                      loading="lazy"
                      src="./img/svg/facebook.svg"
                      class="image"
                      width="24"
                      height="24"
                      alt=""
                  /></a>
                </li>
                <li class="social__item">
                  <a
                    href="#"
                    target="_blank"
                    class="social__link social__link--tw"
                    aria-label="Наша страничка в Твиттере"
                    ><img
                      loading="lazy"
                      src="./img/svg/insta.svg"
                      class="image"
                      width="24"
                      height="24"
                      alt=""
                  /></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="Mfooter__cont-navmain">
          <div class="Mfooter__cont-nav">
            <div class="Mfooter__cont-slogan">
              <span class="Mfooter__slogan">Разделы</span>
            </div>
            <nav class="nav" title="">
              <ul class="list-reset nav__list Mfooter__list">
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Новости</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Актуальное</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Популярное</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Выбор редакции</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Подкасты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="Mfooter__cont-nav">
            <div class="Mfooter__cont-slogan">
              <span class="Mfooter__slogan">темы</span>
            </div>
            <nav class="nav" title="">
              <ul class="list-reset nav__list Mfooter__list">
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">CEO</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Дневник</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Интервью</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Исследование</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Карточки</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Обзор </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="Mfooter__cont-nav">
            <div class="Mfooter__cont-slogan">
              <span class="Mfooter__slogan">teller</span>
            </div>
            <nav class="nav" title="">
              <ul class="list-reset nav__list Mfooter__list">
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link">Teller Media</a>
                </li>
                <li class="nav__item Mfooter__item">
                  <a href="#" class="nav__link Mfooter__link"
                    >Teller HealthCare</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="Mfooter__cont-nav Mfooter__cont-nav-last">
            <div class="Mfooter__cont-slogan Mfooter__cont-slogan-last">
              <span class="Mfooter__slogan">???</span>
            </div>
            <nav class="nav" title="">
              <ul class="list-reset nav__list Mfooter__list Mfooter__list-last">
                <li class="nav__item Mfooter__item Mfooter__item-last">
                  <a href="#" class="nav__link Mfooter__link Mfooter__link-last"
                    >О проекте</a
                  >
                </li>
                <li class="nav__item Mfooter__item Mfooter__item-last">
                  <a href="#" class="nav__link Mfooter__link Mfooter__link-last"
                    >Контакты</a
                  >
                </li>
                <li class="nav__item Mfooter__item Mfooter__item-last">
                  <a href="#" class="nav__link Mfooter__link Mfooter__link-last"
                    >Политика конфиденциальности</a
                  >
                </li>
                <li class="nav__item Mfooter__item Mfooter__item-last">
                  <a href="#" class="nav__link Mfooter__link Mfooter__link-last"
                    >Пользовательское соглашение</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="Mfooter__cont-copy">
        <div class="Mfooter__cont-copyright">
          <span class="Mfooter__copyright">Teller Media © 2022</span>
        </div>
        <div class="Mfooter__cont-sub">
          <div class="Mfooter__cont-input">
            <input
              type="text"
              class="Mfooter__input"
              placeholder="Ваш E-mail"
            />
          </div>
          <div class="inner__btn-container Mfooter__inner">
            <button href="#" class="btn btn__header btn__Mfooter">
              Подписаться
            </button>
          </div>
          <div class="Mfooter__cont-popup">
            <span class="Mfooter__popup"
              >Спасибо, будем держать вас в курсе!</span
            >
          </div>
        </div>
        <div class="social__bottom">
          <nav class="nav" title="">
            <ul class="list-reset social__list" title="">
              <li class="social__item">
                <a
                  href="#"
                  target="_blank"
                  class="social__link social__link--fb"
                  aria-label="Наша страничка в Фейсбуке"
                  ><img
                    loading="lazy"
                    src="./img/svg/vk.svg"
                    class="image"
                    width="24"
                    height="24"
                    alt=""
                /></a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  target="_blank"
                  class="social__link social__link--vk"
                  aria-label="Наша страничка во Вконтакте"
                  ><img
                    loading="lazy"
                    src="./img/svg/telegram.svg"
                    class="image"
                    width="24"
                    height="24"
                    alt=""
                /></a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  target="_blank"
                  class="social__link social__link--tw"
                  aria-label="Наша страничка в Твиттере"
                  ><img
                    loading="lazy"
                    src="./img/svg/youtube.svg"
                    class="image"
                    width="24"
                    height="24"
                    alt=""
                /></a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  target="_blank"
                  class="social__link social__link--tw"
                  aria-label="Наша страничка в Твиттере"
                  ><img
                    loading="lazy"
                    src="./img/svg/facebook.svg"
                    class="image"
                    width="24"
                    height="24"
                    alt=""
                /></a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  target="_blank"
                  class="social__link social__link--tw"
                  aria-label="Наша страничка в Твиттере"
                  ><img
                    loading="lazy"
                    src="./img/svg/insta.svg"
                    class="image"
                    width="24"
                    height="24"
                    alt=""
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
