<div class="logo">
  <div class="header__logo">
    <a href="#" class="logo">
      <!-- <img loading="lazy" src="./img/svg/Logo.svg" class="image" width="406" height="62" alt="JELLER"> -->
      <svg class="" width="390" height="60" viewBox="0 0 390 60">
        <use xlink:href="img/sprite.svg#logoheader"></use>
      </svg>
    </a>
  </div>
</div>
<header class="header">

  <div class="header__container fixed-block">
    <div class="container header__container">
      <div class="header__sticky">
        <div class="icons">
          <div class="icons__item">
            <div class="menu__icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="menu__icon-mobile">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="icons__item icons__item-cont">
            <button class="btn-reset btn__seacrhM" data-graph-path="seacrhM">
              <svg class="" width="20" height="20" viewBox="0 0 20 20">
                <use xlink:href="img/sprite.svg#icon-search"></use>
              </svg>
            </button>
            <a href='random.html' class='header-random-link'>С чего начать</a>
          </div>
        </div>
        <nav class="nav nav__container" title="Главное меню">
          <a href="home.html" class="nav__link--logo">
            <div class="nav__cont ">
              <div class="nav__logo">
                <svg class="" width="48" height="48" viewBox="0 0 48 48">
                  <use xlink:href="img/sprite.svg#logo48"></use>
                </svg>
              </div>
            </div>
          </a>
        </nav>
        <div class="inner__btn-container">
          <a href="https://teller.studio/" class="link-teller-primary" target='_blank'>Teller Studio</a>
          <button href="#" class="btn btn__header " data-graph-path="modal">Подписаться</button>
        </div>
      </div>

    </div>
    <div class="nav__menu__block">
      <div class=" container nav__menu">
        <nav class="nav__menu-header" title="Главное меню">
          <ul class="list-reset nav__list nav__list-header nav__list-burger active">
            <li class="nav__item"><a href="news.html" class="nav__link nav__link-menu-title">новости</a></li>
            <li class="nav__item"><a href="choice.html" class="nav__link nav__link-menu-title">актуальное</a></li>
            <li class="nav__item "><a href="choice.html" class="nav__link nav__link-menu-title">популярное</a></li>
            <li class="nav__item"><a href="choice.html" class="nav__link nav__link-menu-title">выбор редакции</a></li>
            <li class="nav__item"><a href="podcasts.html" class="nav__link">подкасты</a></li>
          </ul>
        </nav>
        <div class="nav__cont-menu">

          <div class="nav__desc">
            <div class="nav__theme">
              <div class="nav__title">темы</div>
              <div class="nav__item-cont">
                <div class="nav__item-menu">
                  <a href="#" class="nav__link-menu">Perspiciatis</a>
                  <a href="#" class="nav__link-menu">Voluptatem</a>
                  <a href="#" class="nav__link-menu">Accusantium</a>
                  <a href="#" class="nav__link-menu">Doloremque</a>
                  <a href="#" class="nav__link-menu">Laudantium</a>
                </div>
                <div class="nav__item-menu">
                  <a href="#" class="nav__link-menu">Perspiciatis</a>
                  <a href="#" class="nav__link-menu">Voluptatem</a>
                  <a href="#" class="nav__link-menu">Accusantium</a>
                  <a href="#" class="nav__link-menu">Doloremque</a>
                  <a href="#" class="nav__link-menu">Laudantium</a>
                </div>
                <div class="nav__item-menu">
                  <a href="#" class="nav__link-menu">Perspiciatis</a>
                  <a href="#" class="nav__link-menu">Voluptatem</a>
                  <a href="#" class="nav__link-menu">Accusantium</a>
                  <a href="#" class="nav__link-menu">Doloremque</a>
                  <a href="#" class="nav__link-menu">Laudantium</a>
                </div>
              </div>
            </div>
            <div class="nav__more">
              <div class="nav__title">more from teller</div>
              <div class="nav__item-menu">
                <a href="#" class="nav__link-menu">Perspiciatis</a>
                <a href="#" class="nav__link-menu">Voluptatem</a>

              </div>
            </div>
          </div>
          <div class="nav__images">
            <picture>
              <img loading="lazy" src="./img/block-nav.jpg" class="image" width="282" height="164" alt="Картинка меню">
            </picture>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="nav__menu-mobile">
    <div class="nav__menu-mobile-cont">
      <input type="text" class="nav__menu-mobile-search" placeholder="Поиск...">
      <button
        class="btn btn__seacrh-mobile"></button>
    </div>
    <nav class="nav__menu__inner" title="Главное меню">
      <ul class="list-reset nav__list-mobile ">
        <li class="nav__item-mobile"><a href="news.html" class=" nav__link-menu-mobile">Новости</a></li>
        <li class="nav__item-mobile"><a href="choice.html" class=" nav__link-menu-mobile">Актуальное</a></li>
        <li class="nav__item-mobile "><a href="choice.html" class=" nav__link-menu-mobile">Популярное</a></li>
        <li class="nav__item-mobile"><a href="choice.html" class=" nav__link-menu-mobile">Выбор редакции</a></li>
        <li class="nav__item-mobile"><a href="choice.html" class=" nav__link-menu-mobile">Подкасты</a></li>
      </ul>
    </nav>
    <ul class="list-reset accordion__list">
      <li class="accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title nav__title-mobile-text">темы</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <div class="nav__item-cont">
            <div class="nav__item-menu">
              <a href="#" class="nav__link-mobile">Perspiciatis</a>
              <a href="#" class="nav__link-mobile">Voluptatem</a>
              <a href="#" class="nav__link-mobile">Accusantium</a>
              <a href="#" class="nav__link-mobile">Doloremque</a>
              <a href="#" class="nav__link-mobile">Laudantium</a>
            </div>
            <div class="nav__item-menu">
              <a href="#" class="nav__link-mobile">Perspiciatis</a>
              <a href="#" class="nav__link-mobile">Voluptatem</a>
              <a href="#" class="nav__link-mobile">Accusantium</a>
              <a href="#" class="nav__link-mobile">Doloremque</a>
              <a href="#" class="nav__link-mobile">Laudantium</a>
            </div>
            <div class="nav__item-menu">
              <a href="#" class="nav__link-mobile">Perspiciatis</a>
              <a href="#" class="nav__link-mobile">Voluptatem</a>
              <a href="#" class="nav__link-mobile">Accusantium</a>
              <a href="#" class="nav__link-mobile">Doloremque</a>
              <a href="#" class="nav__link-mobile">Laudantium</a>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion">
        <button class="accordion__control accordion__control-last last" aria-expanded="false">
          <span class="nav__title-mobile-text">more from teller</span>
          <span class="accordion__icon"></span>
        </button>
        <div class="accordion__content accordion__content-last" aria-hidden="true">
          <div class="nav__item-menu">
            <a href="#" class="nav__link-mobile">Perspiciatis</a>
            <a href="#" class="nav__link-mobile">Voluptatem</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
