<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://teller.depra.ru/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Teller studio</title>
  <link rel="prefetch" href="fonts/HelveticaNeueCyrLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/HelveticaNeueCyrRoman.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/HelveticaNeueCyrBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/Georgia.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/PPRightGroteskTextRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/PPRightGroteskTallRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch " href="fonts/PPRightGroteskMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
