<section class="Mmain">
  <div class="Mmain__container">
    <div class="container Mmain__cont-content">
      <div class="Mmain__cont-slider">
        <div class="Mmain__cont-hover Mmain__cont-hover-left"></div>
        <div class="Mmain__cont-arrow Mmain__cont-arrow-left">
          <picture>
            <img loading="lazy" src="./img/svg/arrow-right.svg" class="image Mmain-prev" width="40" height="40"
                 alt="">
          </picture>
        </div>
        <div class="swiper home">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="Mmain__cont-box">
                <div class="Mmain__cont-img">
                  <a href="" class="Mmain__link">
                    <img loading="lazy" src="./img/block-691-2.jpg" class="image"
                         width="" height="" alt="">
                  </a>
                </div>
                <div class="main__block">
                  <a href="" class="main__link">
                    <div class="main__subtitle">Рубрика</div>
                    <a href="" class="main__link-hover">
                      <div class="main__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                      <a href="" class="main__link">
                        <div class="main__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat
                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                          deserunt mollit anim
                          id est laborum.
                        </div>
                      </a>
                    </a>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="Mmain__cont-box">
                <div class="Mmain__cont-img">
                  <a href="" class="Mmain__link">
                    <img loading="lazy" src="./img/block-691-2.jpg" class="image"
                         width="" height="" alt="">
                  </a>
                </div>
                <div class="main__block">
                  <a href="" class="main__link">
                    <div class="main__subtitle">Рубрика</div>
                    <a href="" class="main__link-hover">
                      <div class="main__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                      <a href="" class="main__link">
                        <div class="main__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat
                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                          deserunt mollit anim
                          id est laborum.
                        </div>
                      </a>
                    </a>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="Mmain__cont-box">
                <div class="Mmain__cont-img">
                  <a href="" class="Mmain__link">
                    <img loading="lazy" src="./img/block-691-2.jpg" class="image"
                         width="" height="" alt="">
                  </a>
                </div>
                <div class="main__block">
                  <a href="" class="main__link">
                    <div class="main__subtitle">Рубрика</div>
                    <a href="" class="main__link-hover">
                      <div class="main__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                      <a href="" class="main__link">
                        <div class="main__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat
                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                          deserunt mollit anim
                          id est laborum.
                        </div>
                      </a>
                    </a>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="Mmain__cont-box">
                <div class="Mmain__cont-img">
                  <a href="" class="Mmain__link">
                    <img loading="lazy" src="./img/block-691-2.jpg" class="image"
                         width="" height="" alt="">
                  </a>
                </div>
                <div class="main__block">
                  <a href="" class="main__link">
                    <div class="main__subtitle">Рубрика</div>
                    <a href="" class="main__link-hover">
                      <div class="main__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
                      <a href="" class="main__link">
                        <div class="main__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat
                          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                          deserunt mollit anim
                          id est laborum.
                        </div>
                      </a>
                    </a>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="Mmain__cont-hover Mmain__cont-hover-right"></div>
        <div class="Mmain__cont-arrow Mmain__cont-arrow-right">
          <picture>
            <img loading="lazy" src="./img/svg/arrow-left.svg" class="image Mmain-next" width="40" height="40" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="article">
  <div class="container">
    <div class="article__cont-grid">
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box">
        <a href="" class="article__link"><img src="./img/block-576-6.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-2.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-4.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-5.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>

    </div>
  </div>
</section>

<section class='searchArticle'>
  <div class='searchArticle__container'>
    <div class='container'>
        <div class='searchArticle__content'>
          <div class='randomC primary'>
            <img class='image-one' src='./img/image-486-2.png' alt=''>
            <div class='randomC__cont'>
              <div class='TitleC font-three primary'>
                Если не знаете с чего начать
              </div>
              <div class='TextC font-one standard'>
                <p>
                  Рандомно выбираем две статьи журнала для вас  — выбирайте ту, что больше привлекла внимание, и наслаждайтесь чтением. Если не понравились обе, крутите барабан еще раз.
                </p>
              </div>
              <a href='' class='buttonC primary'>найти статью</a>
            </div>
            <img class='image-two' src='./img/image-486-1.png' alt=''>
          </div>
          <div class="searchArticle__new">
            <a href="" class="news__link">
              <div class="news__images">
                <picture>
                  <img loading="lazy" src="./img/block-960.jpg" class="image news__image" width="686" height="464"
                       alt="Большая картинка">
                </picture>
              </div>
              <a href="" class="news__link">
                <div class="news__subtitle-big">Рубрика</div>
              </a>
              <a href="" class="news__link-hover">
                <div class="news__title-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
              </a>
              <a href="" class="news__link">
                <div class="news__text">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat
                  nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                  anim
                  id est laborum.
                </div>
              </a>
            </a>
          </div>
        </div>
    </div>
  </div>

</section>

<section class="subs primary">
  <div class="container">
    <div class="subs__container">
      <div class="subs__images">
        <picture>
          <img loading="lazy" src="./img/subs.png" class="image" width="486" height="400" alt="картинка подписки">
        </picture>
      </div>
      <div class="subs__box">
        <div class="subs__title">
          Подпишитесь  и не думайте, что бы почитать
        </div>
        <div class="subs__text primary">
          Каждый месяц отбираем классные статьи, фильмы, книги и присылаем вам на почту в субботу вечером: будем рекомендовать то, что действительно стоит вашего внимания.
        </div>
        <div class="subs__cont">
          <input type="email" class="subs__input">
          <div class="popup__block">
            <div class="popup__cont-title"><span class="popup__title">Спасибо, будем держать вас в курсе!</span></div>
          </div>
          <button class="btn btn__mail">подписаться</button>
        </div>
        <div class="subs__text secondary">
          Отправляя свой адрес, вы автоматически соглашаетесь с Политикой конфиденциальности
        </div>
      </div>
    </div>
  </div>
</section>

<section class="article">
  <div class="container">
    <div class="article__cont-grid">
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box">
        <a href="" class="article__link"><img src="./img/block-576-6.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-2.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-3.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-4.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>
      <div class="article__box ">
        <a href="" class="article__link"><img src="./img/block-576-5.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__title article__link-hover ">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do</a>
        <a href="" class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu
          fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</a>
      </div>

    </div>
  </div>
</section>

<section class="subsC primary">
  <div class="container">
    <div class="subsC__container">
      <div class="subsC__box">
        <div class="TitleC font-three primary">
          Станьте рассказчиком
        </div>
        <div class="TextC font-one standard">
          <p>
            Мы мечтаем собрать самую большую команду талантливых авторов интересных героев в России. Если вы придумали идею большого текста, готовы поделиться опытом в формате колонки или стать героем нашего подкаста, напишите нам. Как говорили в популярной рекламе начала 00-х: лучшие руки трудоустроим.
          </p>
        </div>
        <button class="buttonC primary border-mobile" data-graph-path="author">Рассказать историю</button>
      </div>
      <div class="subsC__images">
        <picture>
          <img loading="lazy" src="./img/subs.png" class="image image-flex" width="486" height="400" alt="картинка подписки">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="article also">
  <div class="container">
    <ul class="list-reset article__cont-grid also__cont-grid">
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
      <li class="article__box also__show ">
        <a href="" class="article__link"><img src="./img/block-576-1.jpg" alt="" class="article__img"></a>
        <a href="" class="article__link">
          <div class="article__subtitle">Рубрика</div>
        </a>
        <a href="" class="article__link-hover">
          <div class="article__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
        </a>
        <a href="" class="article__link">
          <div class="article__text">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.
          </div>
        </a>
      </li>
    </ul>
    <div class="btn-center">
      <button class="btn show-more"><span class="show-more-span">загрузить еще</span>
        <div class="loading"></div>
      </button>
    </div>
  </div>
</section>
