<section class="interview">
  <div class="interview__cont">
    <div class="container caption__container interview__order">

      <h5 class="caption__h5 interview__h5">Интервью</h5>
      <h1 class="caption__h1 interview__h1">«Любой язык борется за право определять ваш взгляд на мир»</h1>
      <h4 class="caption__h4 interview__h4">Социолог Виктор Вахштайн — о языке ненависти, важности обратной связи и
        будущем локальных сообществ в России</h4>
      <div class="interview__cont-words">
        <div class="interview__cont-data">
          <span class="interview__data">11 августа 2022</span>
        </div>
        <div class="caption__cont">
          <span class="caption__span-title interview__span interview__span-title">Интервью</span>
          <span class="caption__span interview__span">Оли Мамаевой</span>
        </div>
      </div>
    </div>
    <div class="container-desktop caption__image interview__image">
      <picture>
        <img loading="lazy" src="./img/block-1920-2.jpg" class="image interview-image" width="1920" height="1080"
             alt="Большая картинка">
      </picture>
    </div>

    <div class="container-text interview__item">
      <p class="rubric__p interview__p">
        Сегодня российское общество одновременно переживает сразу несколько сломов — политический, экономический,
        культурный, языковой. Все мы находимся в центре этих процессов и пытаемся объяснить сами себе, как жить в
        изменившихся условиях. Как мы реагируем на эти изменения? Что в действительности значат слова в социальных
        сетях? Чего мы ждем и на что надеемся? Teller поговорил с социологом Виктором Вахштайном (признан в России
        иностранным агентом) о том, как меняется язык медиа, способен ли он повлиять на общество и что можно узнать о
        людях, читая комментарии в Facebook.
      </p>
    </div>
  </div>
</section>
<section class="Iword">
  <div class="container-text">
    <div class="Iword__cont ">
      <span class="Iword__span">Оля Мамаева</span>
      <p class="Iword__text-strong">От социологов часто слышим, что сейчас бессмысленно разговаривать с людьми, потому
        что честных ответов по определению быть не может, мы все напуганы происходящим и не хотим признаваться в
        собственных мыслях, тем более неизвестному человеку. Вы согласны с таким суждением?</p>
    </div>
    <div class="Iword__cont">
      <span class="Iword__span">Виктор Вахштайн</span>
      <p class="Iword__text">И да, и нет. Давайте разберемся, о чем идет речь. Есть количественные социологические
        исследования, когда проводятся большие опросы по репрезентативным выборкам. Они сильно актуализировались во
        время войны. Результаты таких исследований используются либо для создания образа консолидированного провоенного
        большинства, либо, напротив, для демонстрации образа «пятой колонны». Проведение опросов в ситуации боевых
        действий бессмысленно. Делать этого нельзя, но не потому, что именно сейчас люди как-то особенно врут.
        Социология в принципе не пытается ответить на вопрос, говорят ли они правду. В количественных исследованиях
        задача не в том, чтобы узнать, «как на самом деле думают люди», а в том, чтобы выявить взаимосвязи между
        переменными. Например, социологи пытаются понять, существуют ли устойчивые взаимосвязи между возрастом, сферой
        занятости, социальными связями и коллективными представлениями. Или между тем, в каких школах учатся
        старшеклассники и как они воспринимают политические события. Там, где есть устойчивые воспроизводимые связи и
        корреляции, например, между количеством друзей и знакомых (уровень социального капитала) и готовностью пойти на
        митинг, мы можем говорить о социологическом объяснении. В переломные моменты такие взаимосвязи исчезают.</p>
    </div>
    <div class="Iword__cont ">
      <span class="Iword__span ">Оля Мамаева</span>
      <p class="Iword__text-strong">От социологов часто слышим, что сейчас бессмысленно разговаривать с людьми, потому
        что честных ответов по определению быть не может, мы все напуганы происходящим и не хотим признаваться в
        собственных мыслях, тем более неизвестному человеку. Вы согласны с таким суждением?</p>
    </div>
    <div class="Iword__cont">
      <span class="Iword__span">Виктор Вахштайн</span>
      <p class="Iword__text">И да, и нет. Давайте разберемся, о чем идет речь. Есть количественные социологические
        исследования, когда проводятся большие опросы по репрезентативным выборкам. Они сильно актуализировались во
        время войны. Результаты таких исследований используются либо для создания образа консолидированного провоенного
        большинства, либо, напротив, для демонстрации образа «пятой колонны». Проведение опросов в ситуации боевых
        действий бессмысленно. Делать этого нельзя, но не потому, что именно сейчас люди как-то особенно врут.
        Социология в принципе не пытается ответить на вопрос, говорят ли они правду. В количественных исследованиях
        задача не в том, чтобы узнать, «как на самом деле думают люди», а в том, чтобы выявить взаимосвязи между
        переменными. Например, социологи пытаются понять, существуют ли устойчивые взаимосвязи между возрастом, сферой
        занятости, социальными связями и коллективными представлениями. Или между тем, в каких школах учатся
        старшеклассники и как они воспринимают политические события. Там, где есть устойчивые воспроизводимые связи и
        корреляции, например, между количеством друзей и знакомых (уровень социального капитала) и готовностью пойти на
        митинг, мы можем говорить о социологическом объяснении. В переломные моменты такие взаимосвязи исчезают.</p>
    </div>

  </div>

</section>
