<section class="letter">
  <div class="letter__container">
    <div class="container letter__cont-title">
      <div class="letter__cont-h5">
        <h5 class="caption__h5 letter__h5">без букв</h5>
      </div>
      <div class="letter__cont-h1">
        <h1 class="caption__h1 letter__h1">Маховик клиентского опыта</h1>
      </div>
    </div>
  </div>
  <div class="letter__cont-swiper">
    <div class="swiper letter__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-1.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-active.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="../img/block-686-1.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-12.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-active.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-active.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-active.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>

            <img loading="lazy" src="./img/block-588-active.jpg" class="image letter__image" width="588" height="588" alt="Средняя картинка">
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="letter__cont-text">
        <p class="letter__text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      </div>
    </div>
  </div>
</section>
<div class="container-text rubric__item mb-20">
  <p class="rubric__p-small">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
</div>
