<div class="graph-modal graph-modal-searchM">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modals">
        <div class="modals__cont-image">
          <img loading="lazy" src="./img/svg/subs-modals.svg" class="image" width="384" height="400" alt="">
        </div>
        <div class="modals__cont-content">
          <div class="modals__cont-text">
            <div class="modals__cont-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat
            </div>
            <div class="modals__cont-input">
              <input type="email" class="modals__input">
              <button class="btn btn__modals">подписаться</button>
            </div>
          </div>
          <div class="modals__popup">Спасибо, будем держать вас в курсе!</div>
        </div>

      </div>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container-searchM " role="dialog" aria-modal="true"
       data-graph-target="seacrhM">
    <button class="btn-reset js-modal-close graph-modal__close graph-modal__close-searchM"
            aria-label="Закрыть модальное окно">
      <img loading="lazy" src="./img/svg/close-modal.svg" class="image" width="32" height="32" alt="">
    </button>
    <div class="graph-modal__content">
      <div class="seacrhM__container">
        <div class="seacrhM__cont-box">
          <div class="searchM__cont-input">
            <input type="text" class="seacrhM__input" placeholder="Введите запрос...">

          </div>
          <div class="seacrhM__cont-btn">
            <button class="btn-reset btn btn__searchMM"><img loading="lazy" src="./img/svg/search-modal.svg"
                                                             class="image" width="28" height="28" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
