<div class="graph-modal graph-modal-searchM">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modals">
        <div class="modals__cont-image">
          <img loading="lazy" src="./img/svg/subs-modals.svg" class="image" width="384" height="400" alt="">
        </div>
        <div class="modals__cont-content">
          <div class="modals__cont-text">
            <div class="modals__cont-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat
            </div>
            <div class="modals__cont-input">
              <input type="email" class="modals__input">
              <button class="btn btn__modals">подписаться</button>
            </div>
          </div>
          <div class="modals__popup">Спасибо, будем держать вас в курсе!</div>
        </div>

      </div>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container-searchM" role="dialog" aria-modal="true"
       data-graph-target="seacrhM">
    <button class="btn-reset js-modal-close graph-modal__close graph-modal__close-searchM"
            aria-label="Закрыть модальное окно">
      <img loading="lazy" src="./img/svg/close-modal.svg" class="image" width="32" height="32" alt="">
    </button>
    <div class="graph-modal__content">
      <div class="seacrhM__container">
        <div class="seacrhM__cont-box">
          <div class="searchM__cont-input">
            <input type="text" class="seacrhM__input" placeholder="Введите запрос...">

          </div>
          <div class="seacrhM__cont-btn">
            <button class="btn-reset btn btn__searchMM"><img loading="lazy" src="./img/svg/search-modal.svg"
                                                             class="image" width="28" height="28" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container-author" role="dialog" aria-modal="true"
       data-graph-target="author">
    <button class="btn-reset js-modal-close graph-modal__close graph-modal__close-author"
            aria-label="Закрыть модальное окно">
    </button>
    <div class="graph-modal__content">
      <form class='modalC author-modal'>
        <div class='modalC__container'>
          <div class='TitleC font-three primary'>
            Станьте рассказчиком
          </div>
          <div class='TextC font-one standard-small'>
            <p>
              Мы мечтаем собрать самую большую команду талантливых авторов интересных героев в России. Если вы придумали идею большого текста, готовы поделиться опытом в формате колонки или стать героем нашего подкаста, напишите нам. Как говорили в популярной рекламе начала 00-х: лучшие руки трудоустроим.
            </p>
          </div>
        </div>
        <div class='modalC__cont'>
          <div class='modalC__inputs'>
            <div class='inputC primary'>
            <span class='inputC__info'>
              Имя
            </span>
              <label>
                <input class='' type='text'>
              </label>
            </div>
            <div class='inputC primary'>
            <span class='inputC__info'>
              e-mail
            </span>
              <label>
                <input class='' type='email'>
              </label>
            </div>
            <div class='inputC primary'>
            <span class='inputC__info'>
              о себе
            </span>
              <label>
                <textarea class='' type='text'></textarea>
              </label>
            </div>
          </div>
          <div class='modalC__row'>
            <div class='TextC font-one standard-small'>
              <p>
                Нажимая на кнопку, вы автоматически соглашаетесь с Политикой конфиденциальности
              </p>
            </div>
            <button class='buttonC primary' type='submit'>ОТПРАВИТЬ</button>
          </div>
          <div class='modalC__success'>
            <div class='TitleC font-three primary'>
              Спасибо, мы свяжемся с вами
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
