<section class="Mnews">

  <div class="Mnews__container">
    <div class="container-text Mnews__cont-title">
      <h5 class="caption__h5 Mnews__h5">новости</h5>
      <h1 class="caption__h1 Mnews__h1">Цифра все победит?</h1>
    </div>
    <div class="container-fluid Mnews__cont-content">
      <div class="container-text Mnews__cont-subtext">
        <div class="Mnews__item">
          <p class="Mnews__subtext">
            Непринужденный летний разговор под бокал вина о том, кого и на каких условиях возьмут в будущее — и найдется
            ли там место бумажным журналам, которые умирают на наших глазах с пугающей скоростью.
          </p>
        </div>

      </div>
      <div class="container-text Mnews__cont-data">
        <span class="Mnews__data">11 августа 2022</span>
      </div>
      <div class="Mnews__cont-news">
        <div class="Mnews__other-news">
          <div class="Mnews__other-cont-title"><span class="Mnews__other-title">Другие новости</span>
          </div>
          <div class="Mnews__cont-widget">
            <div href="" class="Mnews__cont-box">
              <div class="Mnews__other-cont-subtitle">
                <a href="#" class="Mnews__other-subtitle">Феномен «соцсетей одного дня»</a>
              </div>
              <div class="Mnews__other-cont-data">
                <a href="" class="Mnews__link"><span class="Mnews__other-data">1 июня, 2022</span></a>
              </div>
            </div>
            <div href="" class="Mnews__cont-box">
              <div class="Mnews__other-cont-subtitle">
                <a href="#" class="Mnews__other-subtitle">За право разговаривать на хорошем русском языке</a>
              </div>
              <div class="Mnews__other-cont-data">
                <a href="" class="Mnews__link"><span class="Mnews__other-data">1 июня, 2022</span></a>
              </div>
            </div>
            <div href="" class="Mnews__cont-box">
              <div class="Mnews__other-cont-subtitle">
                <a href="#" class="Mnews__other-subtitle">Что такое надежный источник?</a>
              </div>
              <div class="Mnews__other-cont-data">
                <a href="" class="Mnews__link"><span class="Mnews__other-data">1 июня, 2022</span></a>
              </div>
            </div>
            <div href="" class="Mnews__cont-box">
              <div class="Mnews__other-cont-subtitle">
                <a href="#" class="Mnews__other-subtitle">Сегодня на любой информационной площадке можно увидеть </a>
              </div>
              <div class="Mnews__other-cont-data">
                <a href="" class="Mnews__link"><span class="Mnews__other-data">1 июня, 2022</span></a>
              </div>
            </div>
            <div href="" class="Mnews__cont-box">
              <div class="Mnews__other-cont-subtitle">
                <a href="#" class="Mnews__other-subtitle">Почему блогеры никогда не заменят журналистов?</a>
              </div>
              <div class="Mnews__other-cont-data">
                <a href="" class="Mnews__link"><span class="Mnews__other-data">1 июня, 2022</span></a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container-text Mnews__cont-picture">

        <picture>

          <img loading="lazy" src="./img/block-690x400-2.jpg" class="image Mnews__image" width="690" height="400"
               alt="Средняя картинка">
        </picture>
      </div>

      <div class="container-text Mnews__cont-text">

        <div class="Mnews__item-text mb-20">
          <p class="Mnews__text">Концепцию макдональдизации впервые сформулировал американский социолог Джордж Ритцер.
            Его книга «Макдональдизация общества» вышла в 1993 году и с тех пор неоднократно переиздавалась с
            дополнениями, которые отражали новые тенденции, как правило, связанные с цифровизацией. Как считает
            Ритцер, принципы, которыми руководствуется самая известная сеть фаст-фуда, сегодня определяют жизнь всего
            общества, способствуя его дальнейшей рационализации.</p>
        </div>
        <div class="Mnews__item-text mb-20">
          <p class="Mnews__text">Ключевым принципом макдональдизации стала просчитываемость: именно она позволяет
            добиться эффективности, обеспечивает предсказуемость и помогает осуществлять контроль. Поэтому переход к
            цифровой эпохе дал новый толчок процессу рационализации. Сейчас практически в каждой отрасли экономики
            есть пример макдональдизации не менее яркий, чем сам Mcdonald’s: Amazon, IKEA, Starbucks. Экономикой дело
            не ограничивается: можно говорить о макдональдизации образования, медицины, политики, религии и секса.</p>
        </div>
        <div class="Mnews__item-text mb-20">
          <p class="Mnews__text">Практически во всех сферах своей жизни макдональдизированный пользователь из России
            обращается к услугам компаний, которые построены на принципах, сформулированных Ритцером. Он заказывает
            товары на Wildberries, обедает в «Теремке», пьет кофе из Cofix, носит одежду от Gloria Jeans и смотрит
            сериалы на «Кинопоиске».</p>
        </div>

      </div>

    </div>

  </div>
</section>
