<div class="paddingC primary"></div>
<section class="podcasts">
  <div class="podcasts__container">
    <div class="container podcasts__cont-content">
      <div class="podcasts__cont-box">
        <div class="podcasts__cont-title">
          <span class="podcasts__title">Lorem ipsum dolor</span>
        </div>
        <div class="swiper podcasts__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="podcasts__cont-box">
        <div class="podcasts__cont-title">
          <span class="podcasts__title">Lorem ipsum dolor</span>
        </div>
        <div class="swiper podcasts__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="podcasts__cont-box">
        <div class="podcasts__cont-title">
          <span class="podcasts__title">Lorem ipsum dolor</span>
        </div>
        <div class="swiper podcasts__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="podcasts__cont-box">
        <div class="podcasts__cont-title">
          <span class="podcasts__title">Lorem ipsum dolor</span>
        </div>
        <div class="swiper podcasts__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide podcasts__slide">
              <div class="podcasts__block">
                <div class="podcasts__cont-img">
                  <picture>

                    <a href="" class="podcasts__link">
                      <img loading="lazy" src="./img/block-384-2.jpg" class="image"
                           width="248" height="248" alt="">
                    </a>
                  </picture>
                </div>
                <div class="podcasts__cont-name">
                  <a href="" class="podcasts__link">
        <span class="podcasts__name">Название
                      подкаста
        </span>
                  </a>
                </div>
                <div class="podcasts__cont-lastname"><a href="" class="podcasts__link"><span
                  class="podcasts__lastname">Название последнего выпуска</span></a></div>
                <div class="podcasts__cont-row">

                  <div class="podcasts__cont-number"><a href="" class="podcasts__link"><span
                    class="podcasts__number">000</span></a></div>
                  <div class="podcasts__cont-span">
                    <a href="" class="podcasts__link"><span class="span podcasts__span">эпизодов</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>

