<section class="science">
  <div class="science__cont--content">

    <div class="container-desktop science__container">

      <div class="science__cont-image">
        <picture>

          <img loading="lazy" src="./img/block-1920-2.jpg" class="image science__image" width="1920" height="1080"
               alt="Средняя картинка">
        </picture>
      </div>

    </div>
    <!-- <div class="container"> -->
    <div class="science__cont-aside">
      <div class="science__cont-title">

        <div class="caption__container science__cont-text">

          <h5 class="caption__h5 science__h5">наука</h5>
          <h1 class="caption__h1 science__h1">Почему медиа становятся похожи на фаст-фуд </h1>
          <h4 class="caption__h4 science__h4">Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. В стремлении к рационализации и эффективности самые разные сферы
            экономики,
            включая медиа, начинают использовать в работе те же принципы, что и Макдональдс. Причем уход сети
            фаст-фуда
            из
            России на этот процесс никак не повлиял Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Большой, прямо это? От всех ему дал решила составитель маленькая свой.
          </h4>

          <div class="interview__cont-words">
            <div class="interview__cont-data">
              <span class="interview__data science__data">11 августа 2022</span>
            </div>
            <div class="caption__cont">
              <span class="caption__span-title">Текст</span>
              <a href='#' class="caption__span">Саши Щипина</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="science__cont-box mb-52">
    <div class="container-text interview__item">
      <p class="rubric__p">
        Концепцию макдональдизации впервые сформулировал американский социолог Джордж Ритцер. Его книга
        «Макдональдизация общества» вышла в 1993 году и с тех пор неоднократно переиздавалась с дополнениями, которые
        отражали новые тенденции, как правило, связанные с цифровизацией. Как считает Ритцер, принципы, которыми
        руководствуется самая известная сеть фаст-фуда, сегодня определяют жизнь всего общества, способствуя его
        дальнейшей рационализации.
      </p>
    </div>
  </div>

</section>
<section class="Sword">
  <div class="container-text rubric__item mb-20">
    <h3 class="rubric__h3-small">Принципы макдональдизации</h3>
    <p class="rubric__p-small">Ритцер выделил четыре принципа, которые лежат в основе деятельности Макдональдса (а
      сейчас и значительной доли всей мировой экономики):</p>
  </div>
  <div class="container-text">
    <div class="Sword__list--content">
      <div class=" Sword__list-fix">
        <ul class="">
          <ol class="">
            <li class="">
              <strong>Предсказуемость.</strong>
              Клиенты Макдональдса получают именно то, чего ожидают — вне зависимости от того, где находится филиал
              сети.
              Ассортимент, вкус еды, униформа персонала и, в значительной степени, интерьер будут одинаковыми: это
              островок
              стабильности в постоянно меняющемся мире.
            </li>
            <li>
              <strong class="">Предсказуемость.</strong>
              Клиенты Макдональдса получают именно то, чего ожидают — вне зависимости от того, где находится филиал
              сети.
              Ассортимент, вкус еды, униформа персонала и, в значительной степени, интерьер будут одинаковыми: это
              островок
              стабильности в постоянно меняющемся мире.
            </li>
            <li>

              <strong class="">Эффективность.</strong>
              Число операций и время, которые необходимы для того, чтобы удовлетворить потребности человека (в данном
              случае
               —
              в еде), минимизируются. Достигается это, в частности, за счет упрощения продукта: его легко и готовить,
              и
              есть.
              Кроме того, часть работы перекладывается на клиента: он сам забирает еду, убирает стол, а сегодня
              зачастую и
              самостоятельно формирует заказ.

            </li>
          </ol>
          <li>
            Эффективность. Число операций и время, которые необходимы для того, чтобы удовлетворить потребности человека (в данном случае — в еде), минимизируются. Достигается это, в частности, за счет упрощения продукта: его легко и готовить, и есть. Кроме того, часть работы перекладывается на клиента: он сам забирает еду, убирает стол, а сегодня зачастую и самостоятельно формирует заказ.

          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-text rubric__item mb-20">
    <h3 class="rubric__h3-small">Плюсы и минусы</h3>
    <p class="rubric__p-small">У макдональдизации, безусловно, есть свои достоинства. Это и еда гарантированного
      качества по доступной цене, и удобство расположения точек общепита — где-нибудь поблизости всегда найдется
      ресторан сети. К тому же клиент Макдональдса получает ощущение стабильности и комфорта.</p>
  </div>
  <div class="container-text">
    <div class="Sword__cont-title">
      <span class="Sword__hashtag">«</span>
      <span class="Sword__title">
        Труд работников, выполняющих простые и однообразные операции, дегуманизируется
      </span>
    </div>
  </div>
  <div class="container-text rubric__item mb-20">
    <p class="rubric__p-small">Однако Ритцер, говоря о плюсах макдональдизации, заостряет внимание на ее негативной
      стороне, которую называет «иррационализацией рационального»: чрезмерная рационализация легко превращается в свою
      противоположность. Труд работников, выполняющих простые и однообразные операции, дегуманизируется. Еда, пусть и
      соответствует определенным стандартам качества, часто не слишком полезна. Клиент вынужден брать на себя работу
      официанта и при этом вести себя предписанным ему образом, пусть даже его контролируют не так жестко, как
      сотрудников корпорации.</p>
  </div>
  <div class="container-text rubric__item mb-20">
    <h3 class="rubric__h3-small">Просчитываемость в медиа</h3>
    <p class="rubric__p-small">Ключевым принципом макдональдизации стала просчитываемость: именно она позволяет добиться
      эффективности, обеспечивает предсказуемость и контроль над процессами. Поэтому переход к цифровой эпохе дал новый
      толчок процессу рационализации. Сейчас практически в каждой отрасли экономики есть свой пример макдональдизации,
      не менее яркий, чем сам Макдональдс: Amazon, IKEA, Starbucks. Экономикой дело не ограничивается: можно говорить о
      макдональдизации образования, медицины, политики, религии и секса.</p>
  </div>
  <div class="container-text-fluid">
    <div class=" Sword__cont-picture">
      <picture>

        <img loading="lazy" src="./img/block-996x468.jpg" class="image Sword__image" width="996" height="468"
             alt="Большая картинка">
      </picture>
    </div>
  </div>
  <div class="container-text rubric__item mb-20">
    <p class="rubric__p-small">Изначально появившись на Западе, макдональдизация за последние десятилетия благодаря
      глобализации распространилась и в России. Теперь практически во всех сферах своей жизни макдональдизированный
      отечественный пользователь обращается к услугам компаний, которые построены на принципах, сформулированных
      Ритцером. Он заказывает товары на Wildberries, обедает в «Теремке», пьет кофе из Cofix, носит одежду от Gloria
      Jeans и смотрит сериалы на «Кинопоиске».</p>
  </div>
  <div class="container-text rubric__item mb-20">
    <p class="rubric__p-small">Эффект макдональдизации особенно ярко проявляется в тех сферах, где отсутствует
      материальный товар и происходит обмен информацией в цифровом виде, — в частности, в медиапространстве. Процессы,
      происходящие в медиа, напоминают ситуацию в обычном фаст-фуде. Создание контента четко структурируется и
      разбивается на конкретные этапы и операции: от SEO-анализа, генерации идей и написания текста (или создания видео)
      до размещения и продвижения. При этом за разные операции отвечают разные сотрудники со своей специализацией. Все
      это часто происходит на общей платформе для совместной работы, например, в Гугл документах. Благодаря этому
      исчезает необходимость конвертировать контент, произведенный в разных форматах и на разных редакторах, и
      ускоряется его продвижение по этапам. Заранее прописанные принципы, по которым создается контент, и чек-листы
      экономят время, которое иначе тратилось бы на дополнительные обсуждения и уточнения.</p>
  </div>
  <div class="container-text rubric__item mb-52">
    <p class="rubric__p-small">При создании контента, как и при производстве любого другого продукта, используются
      цифровые показатели. Стоимость работ (месячного объема и конкретного проекта) рассчитывается, исходя из количества
      единиц контента, человеко-часов, необходимых для его производства, и средней заработной платы вовлеченных
      сотрудников. А для оценки эффективности проекта применяются инструменты цифровой аналитики, которые учитывают
      просмотры, вовлеченность аудитории и другие показатели. Это позволяет оценить расходы на создание контента и
      прибыль от проекта в целом.
      У макдональдизации медиа есть и свои негативные стороны. Например, развитие мультимедийной журналистики приводит к
      тому, что люди в условиях дефицита времени создают продукты для различных платформ, причем один и тот же человек
      может снимать видео, записывать аудио и писать текст. Причем текст к тому же в разных форматах — в виде статьи или
      записи в блоге. Все это часто приводит к упрощению и стандартизации готового продукта. Так стриминговый сервис
      Netflix, например, требует, чтобы фильмы, которые создаются специально для него, снимались стандартными камерами.
      В результате «картинка» тоже получается стандартной, как бургер из Макдональдса. Еще одна малоприятная сторона
      этих процессов — эмоциональное выгорание журналиста, который, получив больше обязанностей, не стал получать больше
      денег — из соображений эффективности <button class="btn tooltip"><div class="tooltip__text">i</div></button>.</p>
  </div>
  <div class="container-text rubric__item mb-20">
    <h3 class="rubric__h3-small">Данные пользователей</h3>
    <p class="rubric__p-small">Одна из главных особенностей цифровых медиа — возможность анализировать большое
      количество пользовательских данных. И это не только точное число подписчиков. Стриминговые видео- и аудиосервисы
      часто знают персональные данные пользователя (в частности, возраст), историю его просмотров и прослушиваний, а
      также оценки, которые он поставил контенту. Теоретически существует даже возможность фиксировать, на каком моменте
      человек перестал смотреть фильм или сделал паузу в прослушивании подкаста: в ближайшем будущем эти сведения,
      возможно, будут собираться, анализироваться и использоваться при создании новых продуктов.</p>
  </div>
  <div class="container-text-fluid">
    <div class=" Sword__cont-picture">
      <picture>
        <img loading="lazy" src="./img/block-690x404.jpg" class="image Sword__image" width="690" height="404"
             alt="Средняя картинка">
      </picture>
    </div>
  </div>
  <div class="Sword__cont-mb-60">
    <div class="container-text rubric__item">
      <p class="rubric__p-small">В случае с текстами это уже происходит: в статистику включаются не только просмотры, но
        и процент дочитываний. А, например, газета South China Morning Post на основе онлайн-поведения своих читателей
        выделила шесть «образов пользователей», чтобы предлагать каждому подобранные специально для него материалы и
        рекламные предложения. Таким образом, просчитывается не только контент, но и его потребитель, что, в
        значительной степени, даже важнее.</p>
    </div>
  </div>
  <div class="container-text rubric__item mb-52">
    <h3 class="rubric__h3-small">Данные пользователей</h3>
    <p class="rubric__p-small">Одна из главных особенностей цифровых медиа — возможность анализировать большое
      количество пользовательских данных. И это не только точное число подписчиков. Стриминговые видео- и аудиосервисы
      часто знают персональные данные пользователя (в частности, возраст), историю его просмотров и прослушиваний, а
      также оценки, которые он поставил контенту. Теоретически существует даже возможность фиксировать, на каком моменте
      человек перестал смотреть фильм или сделал паузу в прослушивании подкаста: в ближайшем будущем эти сведения,
      возможно, будут собираться, анализироваться и использоваться при создании новых продуктов.</p>
  </div>
  <div class="container-text">
    <div class="Sword__cont-title">
      <span class="Sword__hashtag">«</span>
      <span class="Sword__title">
        Делать контент простым в производстве, интересным, не слишком объемным и не требующим чрезмерных усилий для
        понимания
      </span>
    </div>
  </div>
  <div class="container-text rubric__item mb-52">
    <p class="rubric__p-small">Практически на любой платформе пользователь, стремящийся монетизировать свой канал за
      счет рекламы, бренд, пытающийся повысить свою узнаваемость, или компания, ориентированная на рост продаж,
      вынуждены идти примерно одним и тем же путем: делать контент простым в производстве, интересным, не слишком
      объемным и не требующим чрезмерных усилий для восприятияя. В полном соответствии с принципами макдональдизации.
      Отсюда растущая популярность коротких видео, сторис и вообще сервисов, не претендующих на универсализм и
      предлагающих набор простых, но эффективных инструментов — TikTok или Instagram. СМИ, одновременно и присутствующие
      в соцсетях и конкурирующие с блогерами, часто вынуждены играть по тем же правилам.</p>
  </div>
  <div class="container-text rubric__item mb-20">
    <h3 class="rubric__h3-small">Будущее медиа</h3>
    <p class="rubric__p-small">Появление и распространение по планете Макдональдса не привело к исчезновению ни дорогих
      ресторанов, ни маленьких домашних кафе. Точно так же в современном медиа-ландшафте останутся и сложные лонгриды, и
      нишевый контент с минимальной прибылью и имиджевые проекты, не ориентированные на коммерческий успех в
      краткосрочной перспективе. Аудитория, предпочитающая крупные форматы и выбирающая медленное потребление, не
      лишится нужного ей контента, хотя принципы Ритцера — в частности, просчитываемость — будут применяться и при его
      производстве, благодаря чему качество материалов может даже повыситься.</p>
  </div>
  <div class="container-text rubric__item mb-20">

    <p class="rubric__p-small">В целом же дальнейшее развитие медиа, похоже, будет происходить именно под знаком
      макдональдизации. Свою роль здесь будет играть контент, создаваемый нейросетями: например, Associated Press
      активно использует искусственный интеллект для создания новостей на экономическую тематику <button
        class="btn tooltip">i</button>. Продолжит расти и значение UGC, для создания которого пользователи
      получают простые в применении инструменты — например, Squarespace, Figma, and Canva <button
        class="btn tooltip">i</button>, — не говоря уже о возможностях, предоставляемых социальными сетями. По
      оценкам Ассоциации потребительских технологий (CTA), сегодня в Америке доля UGC в потребляемом контенте выросла до
      39%
      <span class="tooltip__cont-content">
        <button id="tooltipID" class="btn tooltip">i</button>
        <span class="tooltip__cont">
          <span id="tooltipCont1" class="tooltip__content">
            <span id="tooltipClose1" class="tooltip__cont-close">
              <button data-text="Привет" class="tooltip__close"></button></span>
            <span class="tooltip__cont-link">
              <a class="tooltip__link" href="index.html">Cummings, Dean. The MMJ became a McJob: The McDonaldization of
                Multimedia Journalism. KOME − An International Journal of Pure Communication Inquiry. Volume 8 Issue 2,
                p. 23-42. DOI: 10.17646/KOME.75672.55</a>
            </span>
          </span>
        </span>.
      </span> В общем, как сказал вице-президент Microsoft
      по медиа и
      коммуникациям Франческо Вентурини, «больше контента с меньшим бюджетом»
      <span class="tooltip__cont-content">
        <button id="tooltipID2" class="btn tooltip">i</button>
        <span class="tooltip__cont">
          <span id="tooltipCont2" class="tooltip__content">
            <span id="tooltipClose2" class="tooltip__cont-close">
              <button class="tooltip__close"></button></span>
            <span class="tooltip__cont-link">
              <a class="tooltip__link" href="index.html">Venturini, Francesco. Microsoft at NAB: Showcasing the future
                of media and entertainment.</a>
            </span>
          </span>
        </span>.
      </span>
      . И с еще более полной статистикой потребления этого контента: именно она дает бесценную информацию о потребителе,
      позволяя просчитывать, контролировать, предсказывать его поведение и в целом использовать его наиболее эффективным
      образом — как в Макдональдсе.
    </p>
  </div>

</section>
