<section class="Msearch">
  <div class="container-text">
    <div class="Msearch__cont-input">
      <input type="text" class="Msearch__input" placeholder="Начните поиск...">
      <button class="btn btn__Msearch">
      </button>
    </div>

    <div class="Msearch__cont-result">
      <div class="Msearch__number">35400</div>
      <div class="Msearch__text-result">результов для</div>
      <div class="Msearch__title-result"><strong class="Msearch__strong">Reprehenderit</strong> </div>
    </div>

    <div class="Msearch__content">
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>
      <div class="Msearch__item">
        <a href="" class="Msearch__link">
          <div class="Msearch__cont-image">
            <picture>
              <img loading="lazy" src="./img/block-576.jpg" class="image Msearch__image" width="576" height="404"
                   alt="Маленькая картинка">
            </picture>
          </div>
        </a>

        <div class="Msearch__cont-text">
          <a href="" class="Msearch__subtitle">Рубрика</a>
          <a href="" class="Msearch__subtext">Proin lectus erat, aliquet a porta at, luctus id velit</a>
          <a href="" class="Msearch__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </a>
        </div>
      </div>

    </div>
    <div class="Msearch__cont-btn">
      <button class="btn btn__Msearch-also"><span class="show-more-span">загрузить еще</span> <div class="loading"></div></button>
    </div>
    <div class="Msearch__cont-number">
      <ul class="list-reset Msearch__pagination">
        <li class="Msearch__pagination-item active">
          <a href="#" class="Msearch__pagination-link active">1</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">2</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">3</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">4</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">5</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">6</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">7</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">8</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">9</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">10</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">11</a>
        </li>
        <li class="Msearch__pagination-item">
          <a href="#" class="Msearch__pagination-link">12</a>
        </li>
      </ul>
    </div>
  </div>

</section>
