<section class="read">
  <div class="container read__container">
    <div class="read__title">
      <span class="read__span">Читайте также</span>
    </div>
    <div class="read__group">
      <div class="read__item">
        <a href="" class="read__link">
          <div class="read__image ">
            <picture>

              <img loading="lazy" src="./img/block-576-1.jpg" class="image image-read" width="384" height="264"
                   alt="Картинка читать еще">
            </picture>
          </div>
          <div class="read__info">
            <a href="" class="read__subtitle">Рубрика</a>
            <a href="" class="read__text-big">Lorem ipsum dolor sit amet, consectetur </a>
            <a href="" class="read__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</a>
          </div>
        </a>
      </div>
      <div class="read__item">
        <a href="" class="read__link">
          <div class="read__image ">
            <picture>

              <img loading="lazy" src="./img/block-576-1.jpg" class="image image-read" width="384" height="264"
                   alt="Картинка читать еще">
            </picture>
          </div>
          <div class="read__info">
            <a href="" class="read__subtitle">Рубрика</a>
            <a href="" class="read__text-big">Lorem ipsum dolor sit amet, consectetur </a>
            <a href="" class="read__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</a>
          </div>
        </a>
      </div>
      <div class="read__item">
        <a href="" class="read__link">
          <div class="read__image ">
            <picture>

              <img loading="lazy" src="./img/block-576-1.jpg" class="image image-read" width="384" height="264"
                   alt="Картинка читать еще">
            </picture>
          </div>
          <div class="read__info">
            <a href="" class="read__subtitle">Рубрика</a>
            <a href="" class="read__text-big">Lorem ipsum dolor sit amet, consectetur </a>
            <a href="" class="read__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
